html * {
    font-family: Arial;
}

a {
    color: #008B8B;
}

h1 {
    font-size: 21px;
  font-weight: bold;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

body {
    margin: 0px;
}

.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: D3D3D3;
    border: 1px solid #C0C0C0;
    color: #808080;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tool-box {
    border-radius: 50px;
    border: 1px solid #C0C0C0;
    background-color: #D3D3D3;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    color: #808080;
    text-align: center;
}

.button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 0px #000000;
    -moz-box-shadow: 3px 3px 0px #000000;
    box-shadow: 1px 1px 0px #000000;
    background-color: #4169E1;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Arial
}

.action_button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 0px #000000;
    -moz-box-shadow: 3px 3px 0px #000000;
    box-shadow: 1px 1px 0px #000000;
    background-color: #32CD32;
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: Arial
}

.title-card {
    margin: 10px;
    display: block;
    font-weight: bold;
}
.center-body-card {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 2px solid #C0C0C0;
  background-color: #DDDDDD;
  display: block;
  -webkit-box-shadow: 3px 3px 1px #2F4F4F;
  -moz-box-shadow: 3px 3px 1px #2F4F4F;
  box-shadow: 3px 3px 1px #2F4F4F;
  background-color: #DDDDDD;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 5px;
}
.flash-box {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 2px solid #386aa0;
  background-color: #86a2c0;
  -webkit-box-shadow: 3px 3px 1px #2F4F4F;
  -moz-box-shadow: 3px 3px 1px #2F4F4F;
  box-shadow: 3px 3px 1px #2F4F4F;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: fit;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  width: fit-content;
  block-size: fit-content
}
.flash-box .success {
  border: 2px solid #3daf45;
  background-color: #aac589;
  color:
}
.flash-box .information {
}
.error_box {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 0px #000000;
    -moz-box-shadow: 3px 3px 0px #000000;
    box-shadow: 3px 3px 0px #000000;
    background-color: #DDDDDD;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
    color: #888888;
    text-align: left;
    column-count: 1;
    width: 75%;
}

footer {
    position: fixed;
    padding: 2px 2px 0px 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: grey;
    text-align: center;
    color: #C0C0C0;
    font-size: 7px;
}

footer a {
    color: #C0C0C0;
    text-decoration: none;
}

nav {
    font-weight: bold;
    margin-bottom: 0;
    background-color: #333;
    height: 50px;
    color: #333;
    background: #333;
    display: block;
    padding: 1;
    position: relative;
    transition-duration: 0.5s;
}

ul {
    background: ##333;
    list-style: none;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10;
}

li {
    color: #333;
    background: #333;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
}

.li_help {
    color: #333;
    background: #333;
    display: block;
    float: right;
    padding: 1rem;
    position: relative;
}

li a {
    color: #fff;
    text-decoration: none;
}

li:hover {
    background: #20B2AA;
    cursor: pointer;
}

ul li ul {
    background: #333;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

    {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    color: white;
    background-color: #333;
    padding: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: left;
}
.table-information {
    background-color: #555;
    color: white;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    box-sizing:border-box;
}
.button-container {
    background-color: #555;
    height: 40px;
    color: #fff;
    display: block;
    padding: 0;
    position: relative;
    font-weight: bold;
}

.button-container .select {
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
    background-color: #4169E1;
    border: none;
    height: 36px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-family: Arial;
    float: right;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}
.title-bar{
 display: flex;
  align-items: center;
  height: 45px;
  background-color: #555;
}
.title-bar h2{
  margin-left: 10px;
  color:  white;
}
.title-bar .alignleft{
  float: left;
  width:33.33333%;
  text-align:left;
  padding-left:;
}
.title-bar .aligncenter {
  float: left;
  width:33.33333%;
  text-align:center;
}
.title-bar .select {
  margin-left: 0;
border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
    background-color: #4169E1;
    border: none;
    height: 36px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial;
  font-weight: bold;
  cursor: pointer;
}
.title-bar .select:hover {
   background-color: #83cd20;
}
.title-bar .select:focus {
   background-color: #FF0000;
}
.search-input{
  width: 70%;
  border-style: none;
  height: 36px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 0;
}
.collapsible {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}
.button-container .select:hover {
   background-color: #83cd20;
}
.button-container .select:focus {
   background-color: #FF0000;
}

.collapsible {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 0;
    display: none;
    overflow: hidden;
    background-color: white;
}