{% extends "base.html" %}

{% block content %}

    {% if device %}

    <div class="center-body-card">
        <div class="table-information">Information</div>
        <div class="button-container">
            <button class="select" title="Delete" type="submit" name="delete_endpoint" value="delete_endpoint">
                 <img src="/static/delete.png" style="width:30px;height:30px;">
            </button>
            <button class="select" title="Re-Discover" type="submit" name="rediscover" value="rediscover">
                 <img src="/static/discover.png" style="width:30px;height:30px;">
            </button>
        </div>

        {% set data = device.info %}
        {% include "endpoint_info/endpoint_info_card.html" %}

    </div>



        {% if device.nmap_info %}
            {% set data = device.nmap_info %}
            {% include "endpoint_info/nmap_info_card.html" %}
        {%endif %}

        {% if device.interface_info %}
            {% set data = device.interface_info %}
            {% include "endpoint_info/paloalto_panos/interface_info_card.html" %}
        {%endif %}
        {% if device.gateway_info %}
            {% set data = device.gateway_info %}
            {% include "endpoint_info/paloalto_panos/gateway_info_card.html" %}
        {%endif %}
            {% if device.zone_info %}
            {% set data = device.zone_info %}
            {% include "endpoint_info/paloalto_panos/zone_info_card.html" %}
        {%endif %}
    {%endif %}

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>
{% endblock %}