
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Leviathan</title>
      {% else %}
      <title>Welcome to Leviathan</title>
      {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
    </head>
    <nav role="navigation" class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="li_help"><a href="#">Help</a></li>
      </ul>
    </nav>

    <body>
        <form action="" method="post" novalidate>
        {% if searchbar %}
            {% include "general/searchbar_card.html" %}
        {% elif title %}
        <div class="title-card">
            <h1>{{ title }}</h1>
        </div>
        {% endif %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class=flash-box><p>{{ message }}</p></div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
        </form>
    </body>
</html>