{% extends "base.html" %}

{% block content %}
    <h1>Equipment Search</h1>
    <form action="" method="post" novalidate>
    {{ form.searchbar() }}
    <div class="tooltip">
        <span class="tooltiptext">
            <p>Use lucene syntax to search through all equipment across all devices.</p>
            <p>Examples: "serialnumber", *partofserial*</p>
            <p>Note: dashes and underscores are considered whitespace so they must be encompassed by "".  Example: "SWA-1"</p>
        </span>
        <div class="tool-box">?</div>
    </div>
    {{ form.submit(class_="button") }}
    {% if hits is not none %}
        <hr style="width75%">
        {{ form.export(class_="button") }}
        <table id="report" class="table-sort table-sort-search">
                <thead>
                    <tr>
                        <th>Hostname</th>
                        <th>Name</th>
                        <th>PID</th>
                        <th>Serial Number</th>
                        <th>Description</th>
                </thead>
                <tbody>
                {% for h in hits %}
                    <tr>
                        <td><a href={{ root_uri }}switch_info?hostname="{{ h.hostname}}">{{ h.hostname }}</a></td>
                        <td>{{ h.name }}</td>
                        <td>{{ h.pid }}</td>
                        <td>{{ h.sn }}</td>
                        <td>{{ h.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    {% else %}
    {%endif %}
    </form>


{% endblock %}